h1 {
	margin: 0;
	font-size: inherit;
}

p {
	margin: 0;
	padding: 0;
	text-indent: 1em;
	/*padding-bottom: 16px;*/
}

p:first-of-type {
	text-indent: 0;
}

.container {
	width: 50%;
	height: 230px;
	background-color: #DDD;
	overflow: hidden;
}


.ellipsis-container {
	-webkit-column-count: 2;
	   -moz-column-count: 2;
		-ms-column-count: 2;
			column-count: 2;
	font-size: 12px;
	line-height: 16px;
}


.overflowing-child {
	margin-bottom: 9em;
	padding: 0 !important;
	overflow: hidden;
	position: relative;
}

.overflowing-child:before {
	content: "";
}

.overflowing-child:after {
	content: "...";
}

.image {
	width: 150px;
	float: left;
}

.text {
	height: 100%;
	margin-left: 160px;
}