* {
	margin: 0;
	padding: 0;
}

html,
body,
ul {
	height: 100%;
}

ul {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	width: 300px;
	list-style-type: none;
}

li {
	height: 33.33%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	overflow: hidden;
	list-style-type: none;
}

img {
	width: 100%;
}

.body {
	-webkit-box-flex: 1;
	font-size: 14px;
	line-height: 18px;
	overflow: hidden;
}


.overflowing-child {
	overflow: hidden;
}