* {
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

h1 {
	font-size: inherit;
}

p {
	break-before: avoid;
}



.ellipsis-overflowing-child {
	margin-bottom: 9em;
	padding: 0 !important;
	position: relative;
}

.ellipsis-overflowing-child .ellipsis-helper {
	width: 8em;
	background: -moz-linear-gradient(left, rgba(221,221,221,0) 0%, rgba(221,221,221,1) 100%); /* FF3.6+ */
	background: -o-linear-gradient(left, rgba(221,221,221,0) 0%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(221,221,221,0) 0%,rgba(221,221,221,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(221,221,221,0) 0%,rgba(221,221,221,1) 100%); /* W3C */
	background: red;
}

.ellipsis-overflowing-child .ellipsis-helper:after {
	content: "...";
	float: right;
	padding-right: 0.4em;
}

.container {
	height: 33.3333%;
	position: relative;
	font-size: 13px;
	line-height: 20px;
	background-color: #DDD;
	overflow: hidden;
}

.container-1 {
	-webkit-column-count: 1;
	   -moz-column-count: 1;
		  -ms-column-count: 1;
			    column-count: 1;
}

.container-2 {
	-webkit-column-count: 2;
	   -moz-column-count: 2;
		  -ms-column-count: 2;
			    column-count: 2;
}

.container-3 {
	-webkit-column-count: 3;
	   -moz-column-count: 4;
		  -ms-column-count: 3;
			    column-count: 3;
}

/*.overflowing-child:after {
	content: "...";
}*/